<% if message.content.present? || message.role == 'user' %>
<div id="<%= dom_id(message) %>" class="message <%= message.role == 'user' ? 'is-info' : 'is-dark' %> mb-2" style="max-width: 80%; <%= message.role == 'user' ? 'align-self: flex-end; margin-left: auto;' : 'align-self: flex-start;' %>">
  <div class="message-body py-2 px-3">
    <strong><%= message.role.capitalize %>:</strong>
    <%= message.content %>
  </div>
</div>
<% end %>
