<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gym Trainer" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if Current.user %>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to "Gym Trainer", root_path, class: "navbar-item has-text-weight-bold" %>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <span class="mr-3">Hi, <%= Current.user.identifier %></span>
                <%= button_to "Logout", session_path, method: :delete, class: "button is-light is-small" %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <% end %>

    <% if notice %>
      <div class="notification is-success is-light mb-0">
        <div class="container">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="notification is-danger is-light mb-0">
        <div class="container">
          <%= alert %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
